h1{
	background-color: #f1daf1;
	color: DimGray;
	padding-left: 20;
}

h2{
	padding-left: 30;
	margin-bottom: 0;
	font-size: large;
}

p{
	padding-left: 30;
	width: 600px;
}

form{
	padding-left: 30;
}

table{
	padding-left: 30;
}
